.xq{
    width: 1100px;
    height: 1950px;
    background: #fff;
    margin: auto;
}
.inner1{
    width: 784px;
    margin: auto;
}
.xq .title img{
    margin-top: 60px;
}
.xq .xq-tit{
   margin-top: 35px;
}
.xq .xq-cont p{
    font-size: 14px;
    color: #47464a;
}
.xq .xq-cont p.p2{
    margin-top: 10px;
}
.xq .xq-cont img.xq-img{
    margin-top: 60px;
}
.xq .xq-cont p.p3{
    font-size: 20px;
    color: #47464a;
    line-height: 55px;
}
.xq .xq-cont p.p4{
    line-height: 30px;
    text-indent: 2em;
}
.xq .xq-cont p.p4 span{
    background: url("../img/xq_10.png");
    width: 14px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}
.xq .xq-cont p.p4.p5{
    text-indent: 0;
}
.xq .like{
    background: url("../img/article_iflike.png");
    width: 73px;
    height: 73px;
    margin: 100px auto;
    position: relative;
}
.xq .like .like-img{
    background: url("../img/article_iflike_nomberbg.png");
    width: 135px;
    height: 35px;
    color: #fff;
    line-height: 35px;
    text-align: center;
    font-size: 15px;
    margin-left: 79px;
    position: absolute;
    top: 20px;
}
.like .nn{
    position: absolute;
    top: 130px;
    left: -86px;
}
